/*  */



/* Global Styling */
::-webkit-scrollbar{
    display: none;
}
::selection{
    background: #e4e7eb;
    color: #100d1e;
}
/* ::placeholder{
    color: #100d1e;
} */
.btn{
    border-radius: 0px !important;
    font-size: 1.03rem;
    letter-spacing: 1.1px;
    font-weight: 600;
}
.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}
.form-control:focus, .form-control:active:focus, .form-control.active:focus{
    outline: none;
    box-shadow: none;
}
.form-control{
    border-radius: 0px !important;
}
.form-select{
    border-radius: 0px;
}
.form-select:focus, .form-select:active:focus, .form-select.active:focus{
    outline: none;
    box-shadow: none;
}
.form-check-input[type=checkbox]{
    border-radius: 0px !important;
}
.form-check-input:focus, .form-check-input:active:focus, .form-check-input.active:focus{
    outline: none;
    box-shadow: none;
}


/* navbar */
.gstore_logo{
    width: 120px;
    height: 45px;
}
.navbar_section{
    width: 100%;
}
.navbar_section .nav-link{
    font-size: 1.13033rem;
    color: #908f8d;
}
.navbar_section .nav-link:focus, .navbar_section .nav-link:active:focus, .navbar_section .nav-link.active:focus{
    color: #fdf3e6;
}
.search_input{
    background: #343a40;
    color: #e4e7eb;
}
.search_input:focus, .search_input:active:focus, .search_input.active:focus{
    background: #343a40;
    color: #e4e7eb;
}
.nav_logo{
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: #bfb0ff;
}
.nav_logo:hover{
    color: #bfb0ff;
}
.nav_logo:focus, .nav_logo:active:focus, .nav_logo.active:focus{
    color: #bfb0ff;
}


/* Category Subnavbar section */
.category_nav{
    position: relative;
    transition: 0.5s ease-out;
}

.subnav{
    position: absolute;
    left: 0;
    width: 240px;
    height: auto;
    background: #100d1e;
    border: 2px solid #bfb0ff;
    display: none;
    transition: 0.5s ease-out;
    z-index: 999;
}

.category_nav:hover .subnav{
    display: block;
    animation: slideup .5s ease;
}

.subnav li{
    list-style: none;
}

/* nested nav */
.sub_parent_nav{
    position: relative;
    transition: 0.5s ease-out;
}

.sub_child_nav{
    position: absolute;
    left: 0;
    width: 240px;
    height: auto;
    background: #1e1351;
    border: 2px solid #7764cc;
    display: none;
    transition: 0.5s ease-out;
    z-index: 999;
}

.sub_parent_nav:hover > .sub_child_nav{
    display: block;
    /* animation: slideup .5s ease; */
}


/* Animation on sub-navbar items */
@keyframes slideup{
	0%{
		opacity: 0;
		transform: translateY(25px);
	}
	100%{
		opacity: 1;
		transform: none;
	}
}





/*  */
.carousel_img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    object-position: center;
}
.category_info_box{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.category_img{
    width: 100%;
    height: 38vh;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s ease-out;
}
.category_img:hover{
    opacity: 0.6;
    transform: scale(1.1);
}
.category_data{
    position: absolute;
    top: 36.5%;
    left: 23.7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1.0s ease-out;
}
.category_info_box:hover .category_data{
    opacity: 1;
}
.product_img{
    width: 100%;
    height: 38vh;
    object-fit: cover;
    object-position: center;
}


/* Registration Section Styling */
.account_bg{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.72)), url("https://source.unsplash.com/random?laptop");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.account_card_bg{
    border-radius: 0px;
    backdrop-filter: blur(3px);
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.or_hr{
    width: 100%;
    height: 1.2px;
}

.account_input:focus, .account_input:active:focus, .account_input.active:focus{
    outline: none;
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255,255,255,0.5);
}
.account_input{
    border-radius: 0px !important;
    backdrop-filter: blur(3px);
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255,255,255,0.5);
}

/* Banner Section Styling */
.banner_box{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.70)), url("https://source.unsplash.com/random?shoes");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.rounded-pill{
    border-radius: 25px !important;
}


/* Products Section Styling */
.product_search{
    background: #778593;
    color: #e4e7eb;
}
.product_search:focus, .product_search:active:focus, .product_search.active:focus{
    background: #778593;
    color: #e4e7eb;
}

