{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout{% endblock %}

{% block content %}

<div class="container col-md-11">
    <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
            <h3>Items in the cart</h3>
            <a href="{% url 'ecomapp:mycart' %}" class="btn btn-primary px-5">Update Cart</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Product</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cartproduct in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ cartproduct.product.title }}</td>
                        <td>Rs. {{ cartproduct.rate }}</td>
                        <td>{{ cartproduct.quantity }}</td>
                        <td>Rs. {{ cartproduct.subtotal }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-end pe-3">Total</th>
                        <th class="text">Rs.{{cart.total}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-md-12">
            <h3 class="mb-3">Checkout Form</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-info px-4">Place Order</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}