{% extends 'base.html' %}
{% load humanize %} # humanize is used to apply comma in the price section like (200,000)
{% load static %}
{% block title %}Order Detail{% endblock %}

{% block content %}

<div class="container col-lg-11 py-4">
    <div class="p-3 bg-light shadow-sm border">
        <h3>Order Detail</h3>
        <hr>
        <p><span class="fw-bold">Order ID:</span> #Order_{{order_obj.id}}</p>
        <p><span class="fw-bold">Order Status: </span> {{order_obj.order_status}}</p>
        <p><span class="fw-bold">Ordered On: </span> {{order_obj.created_at}}&nbsp;({{order_obj.created_at|timesince}})
        </p>
        <p><span class="fw-bold">Customer Information: </span> By: {{order_obj.order_by}}, {{order_obj.mobile}}</p>
        <p class="mb-5"><span class="fw-bold">Shipping Address:
            </span>{{order_obj.shipping_address}}&nbsp;({{order_obj.email}})</p>
        <hr>
        <h4>Ordered Items</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>S.N.</th>
                    <th>Item</th>
                    <th>Rate</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for cp in order_obj.cart.cartproduct_set.all %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><a target="_blank" href="{% url 'ecomapp:productdetail' cp.product.slug %}"
                            class="text-decoration-none">{{cp.product.title}}</a> ({{cp.product.id}})</td>
                    <td>{{cp.rate | intcomma}}</td>
                    <td>{{cp.quantity}}</td>
                    <td>{{cp.subtotal | intcomma}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th colspan="4" class="text-end">Total:</th>
                    <th>Rs. {{order_obj.total | intcomma}}/-</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}