<div class="container-fluid px-0 mx-0 bg-dark">
    <div class="container col-lg-11 py-5">
        <p class="text-secondary mb-0">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita, accusamus perferendis tenetur quo quis
            error ad asperiores exercitationem quasi, natus architecto rem quia. Blanditiis, est.
        </p>
    </div>
    <div class="container col-lg-11">
        <hr class="bg-secondary">
        <div class="d-flex justify-content-between align-items-center pb-3">
            <p class="text text-secondary mb-0">
                Designed & Developed By <span class="text-light">Goku</span> .
            </p>
            <p class="text text-secondary mb-0">
                Copyright &copy; 2023. All right reserved.
            </p>
        </div>
    </div>
</div>