{% load static %}

<div class="container-fluid px-0 mx-0 bg-dark">
    <div class="container col-lg-11 py-5">
        <div class="row">
            <div class="col-lg-4">
                <a class="navbar-brand nav_logo" href="{% url 'ecomapp:home' %}">
                    <img src="{% static 'img/logo/gstore.png' %}" alt="G-Store Website Logo" class="gstore_logo">
                </a>
                <p class="gstore_desc text-light pt-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit fugiat deleniti et minima,
                    voluptatum ipsa veniam. Officiis, laudantium? Obcaecati totam quibusdam nulla quam eaque sint hic
                    voluptas.
                </p>
            </div>
            <div class="col-lg-2">
                <h5 class="footer_title text-white fw-bold mb-4">Important Link</h5>
                <a href="#" class="text-decoration-none text-danger d-flex align-items-center mb-2"> 
                    <i class="fa-solid fa-arrow-right me-2"></i> 
                    <h6 class="text mb-0">Home Page</h6>
                </a>
                <a href="#" class="text-decoration-none text-danger d-flex align-items-center mb-2"> 
                    <i class="fa-solid fa-arrow-right me-2"></i> 
                    <h6 class="text mb-0">About US</h6>
                </a>
                <a href="#" class="text-decoration-none text-danger d-flex align-items-center mb-2"> 
                    <i class="fa-solid fa-arrow-right me-2"></i> 
                    <h6 class="text mb-0">Shop</h6>
                </a>
                <a href="#" class="text-decoration-none text-danger d-flex align-items-center mb-2"> 
                    <i class="fa-solid fa-arrow-right me-2"></i> 
                    <h6 class="text mb-0">Categories</h6>
                </a>
                <a href="#" class="text-decoration-none text-danger d-flex align-items-center mb-2"> 
                    <i class="fa-solid fa-arrow-right me-2"></i> 
                    <h6 class="text mb-0">Our Store</h6>
                </a>
            </div>
            <div class="col-lg-2">
                <h5 class="footer_title text-white fw-bold mb-4">Important Link</h5>
                <a href="#" class="text-decoration-none text-danger d-flex align-items-center mb-2"> 
                    <i class="fa-solid fa-arrow-right me-2"></i> 
                    <h6 class="text mb-0">Home Page</h6>
                </a>
                <a href="#" class="text-decoration-none text-danger d-flex align-items-center mb-2"> 
                    <i class="fa-solid fa-arrow-right me-2"></i> 
                    <h6 class="text mb-0">About US</h6>
                </a>
                <a href="#" class="text-decoration-none text-danger d-flex align-items-center mb-2"> 
                    <i class="fa-solid fa-arrow-right me-2"></i> 
                    <h6 class="text mb-0">Shop</h6>
                </a>
                <a href="#" class="text-decoration-none text-danger d-flex align-items-center mb-2"> 
                    <i class="fa-solid fa-arrow-right me-2"></i> 
                    <h6 class="text mb-0">Categories</h6>
                </a>
                <a href="#" class="text-decoration-none text-danger d-flex align-items-center mb-2"> 
                    <i class="fa-solid fa-arrow-right me-2"></i> 
                    <h6 class="text mb-0">Our Store</h6>
                </a>
            </div>
            <div class="col-lg-4">
                <h5 class="footer_title text-white fw-bold mb-4">Get In Touch</h5>
                <div class="social_links">
                    <a href="#">
                        <div class="social_box">
                            <i class="fa-brands fa-github"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-lg-11">
        <hr class="bg-secondary">
        <div class="d-flex justify-content-between align-items-center pb-3">
            <p class="text text-secondary mb-0">
                Designed & Developed By <span class="text-light">Goku</span> .
            </p>
            <p class="text text-secondary mb-0">
                Copyright &copy; 2023. All right reserved.
            </p>
        </div>
    </div>
</div>