{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="container-fluid px-0 mx-0">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/bg_1.jpg' %}" class="carousel_img" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/bg_2.jpg' %}" class="carousel_img" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/bg_3.jpg' %}" class="carousel_img" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/bg_4.jpg' %}" class="carousel_img" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- Top Categories -->
<div class="container-fluid px-0 mx-0 mt-5">
    <div class="container col-lg-11">
        <div class="row">
            <h4 class="text text-secondary fw-bold mb-3">Shop By Our Popular Category</h4>
            <div class="col-lg-4 mb-3">
                <div class="p-0 shadow-sm border">
                    <div class="category_info_box">
                        <img src="https://source.unsplash.com/random?clothes" alt="Clothes Collection"
                            class="category_img">
                        <div class="category_data">
                            <h4 class="text text-dark fw-bold mb-3">Clothing Collection</h4>
                            <a href="#" class="btn btn-primary px-4">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="p-0 shadow-sm border">
                    <div class="category_info_box">
                        <img src="https://source.unsplash.com/random?mobiles&laptops" alt="Clothes Collection"
                            class="category_img">
                        <div class="category_data">
                            <h4 class="text text-dark fw-bold mb-3">Electronics Collection</h4>
                            <a href="#" class="btn btn-primary px-4">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="p-0 shadow-sm border">
                    <div class="category_info_box">
                        <img src="https://source.unsplash.com/random?bags" alt="Clothes Collection"
                            class="category_img">
                        <div class="category_data">
                            <h4 class="text text-dark fw-bold mb-3">Bags Collection</h4>
                            <a href="#" class="btn btn-primary px-4">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- hr -->
<div class="container-fluid px-0 mx-0 py-2">
    <div class="container col-lg-11">
        <hr class="bg-secondary">
    </div>
</div>

<!-- Our Products Section -->
<div class="container-fluid px-0 mx-0">
    <div class="container col-lg-11">
        <div class="row">
            <h4 class="text text-secondary fw-bold mb-3">Explore Our Products</h4>
            {% for product in product_list %}
            <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
                <div class="p-0 product_card border">
                    <img src="{{ product.image.url }}" class="img-fluid product_img" alt="">
                    <div class="info py-3 px-3">
                        <a href="{% url 'ecomapp:productdetail' product.slug %}" class="text-decoration-none">
                            <h5 class="text text-dark fw-bold">{{ product.title }}</h5>
                        </a>
                        <p class="text"><s class="text-muted me-3">Rs. {{ product.marked_price }}
                            </s> Rs. {{ product.selling_price }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'ecomapp:addtocart' product.id %}" class="btn btn-sm btn-primary px-2">
                                <i class="fa-solid fa-cart-plus me-2"></i> Add to Cart
                            </a>
                            <a href="#" class="btn btn-sm btn-outline-primary px-3">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center align-items-center mb-3">
            <nav aria-label="...">
                <ul class="pagination">
                    {% if product_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_list.previous_page_number }}">Previous</a>
                    </li>
                    {% else %}
                    <li></li>
                    <!-- <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li> -->
                    {% endif %}
                    {% for i in product_list.paginator.page_range %}
                    {% if i == product_list.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link">{{i}}</a>
                    </li>
                    {% else %}
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="?page={{ i }}">{{i}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if product_list.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_list.next_page_number }}">Next</a>
                    </li>
                    {% else %}
                    <li></li>
                    <!-- <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li> -->
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Banner section -->
<div class="container-fluid px-0 mx-0 banner_box">
    <div class="container col-lg-5 py-4">
        <div class="text-center py-5">
            <h2 class="text text-light fw-bold text-uppercase mb-4">tons of products and options <br> to <span class="text-warning">change</span></h2>
            <p class="text text-secondary mb-5">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam doloribus nulla, mollitia voluptas
                obcaecati eos aliquid sed corporis eligendi a. Ea consequuntur illum facere aperiam sequi optio
                consectetur adipisicing elitFuga, suscipit totam animi consequatur saepe blanditiis.Lorem ipsum dolor
                sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur adipisicing elit..
            </p>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-primary rounded-pill px-4">Shop Now</button>
            </div>
        </div>
    </div>
</div>

<!-- Trending Products Section -->
<div class="container-fluid px-0 mx-0 mb-0 pb-0">
    <div class="container col-lg-11 py-4">
        <div class="row">
            <h4 class="text text-secondary fw-bold mb-3">Our Trending Products</h4>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="p-0 shadow-sm border">
                    <img src="https://source.unsplash.com/random?mobiles" class="img-fluid product_img" alt="">
                    <div class="info py-3 px-3">
                        <a href="#" class="text-decoration-none">
                            <h5 class="text text-dark fw-bold">Mobile Product</h5>
                        </a>
                        <h6 class="text text-secondary mb-3"> Rs. 10000</h6>
                        <a href="$" class="btn btn-sm btn-primary w-100">
                            View Detail
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="p-0 shadow-sm border">
                    <img src="https://source.unsplash.com/random?shoes" class="img-fluid product_img" alt="">
                    <div class="info py-3 px-3">
                        <a href="#" class="text-decoration-none">
                            <h5 class="text text-dark fw-bold">Shoes Product</h5>
                        </a>
                        <h6 class="text text-secondary mb-3"> Rs. 15000</h6>
                        <a href="$" class="btn btn-sm btn-primary w-100">
                            View Detail
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="p-0 shadow-sm border">
                    <img src="https://source.unsplash.com/random?blazers" class="img-fluid product_img" alt="">
                    <div class="info py-3 px-3">
                        <a href="#" class="text-decoration-none">
                            <h5 class="text text-dark fw-bold">Blazers Product</h5>
                        </a>
                        <h6 class="text text-secondary mb-3"> Rs. 8000</h6>
                        <a href="$" class="btn btn-sm btn-primary w-100">
                            View Detail
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="p-0 shadow-sm border">
                    <img src="https://source.unsplash.com/random?coat" class="img-fluid product_img" alt="">
                    <div class="info py-3 px-3">
                        <a href="#" class="text-decoration-none">
                            <h5 class="text text-dark fw-bold">Coat Product</h5>
                        </a>
                        <h6 class="text text-secondary mb-3"> Rs. 9000</h6>
                        <a href="$" class="btn btn-sm btn-primary w-100">
                            View Detail
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Trending Products Section -->
<div class="container-fluid px-0 mx-0 bg-light mb-0 pb-0">
    <div class="container col-lg-11 py-4">
        <div class="row">
            <h4 class="text text-secondary fw-bold mb-3">30% Sale Products</h4>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="p-0 border border-muted">
                    <img src="https://source.unsplash.com/random?jackets" class="img-fluid product_img" alt="">
                    <div class="info py-3 px-3">
                        <a href="#" class="text-decoration-none">
                            <h5 class="text text-dark fw-bold">Jackets Product</h5>
                        </a>
                        <h6 class="text text-secondary mb-3"> Rs. 5000</h6>
                        <a href="$" class="btn btn-sm btn-primary w-100">
                            Buy Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="p-0 border border-muted">
                    <img src="https://source.unsplash.com/random?laptop" class="img-fluid product_img" alt="">
                    <div class="info py-3 px-3">
                        <a href="#" class="text-decoration-none">
                            <h5 class="text text-dark fw-bold">Laptops Product</h5>
                        </a>
                        <h6 class="text text-secondary mb-3"> Rs. 127000</h6>
                        <a href="$" class="btn btn-sm btn-primary w-100">
                            Buy Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="p-0 border border-muted">
                    <img src="https://source.unsplash.com/random?girl" class="img-fluid product_img" alt="">
                    <div class="info py-3 px-3">
                        <a href="#" class="text-decoration-none">
                            <h5 class="text text-dark fw-bold">Girls Product</h5>
                        </a>
                        <h6 class="text text-secondary mb-3"> Rs. 2500</h6>
                        <a href="$" class="btn btn-sm btn-primary w-100">
                            Buy Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="p-0 border border-muted">
                    <img src="https://source.unsplash.com/random?shirts" class="img-fluid product_img" alt="">
                    <div class="info py-3 px-3">
                        <a href="#" class="text-decoration-none">
                            <h5 class="text text-dark fw-bold">Shirts Product</h5>
                        </a>
                        <h6 class="text text-secondary mb-3"> Rs. 1800</h6>
                        <a href="$" class="btn btn-sm btn-primary w-100">
                            Buy Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- All Collections -->
<div class="container-fluid px-0 mx-0 all_collections_section">
    <div class="container col-lg-11 py-5">
        <div class="collection_section">
            <div class="single_collection_box">
                <img src="{% static 'img/men.jpg' %}" alt="" class="single_cat_img">
                <div class="info_section p-2">
                    <h6 class="text-dark">Men's Collection</h6>
                </div>
            </div>
            <div class="single_collection_box">
                <img src="{% static 'img/women.jpg' %}" alt="" class="single_cat_img">
                <div class="info_section p-2">
                    <h6 class="text-dark">Men's Collection</h6>
                </div>
            </div>
            <div class="single_collection_box">
                <img src="{% static 'img/bag.jpg' %}" alt="" class="single_cat_img">
                <div class="info_section p-2">
                    <h6 class="text-dark">Men's Collection</h6>
                </div>
            </div>
            <div class="single_collection_box">
                <img src="{% static 'img/gadget.jpg' %}" alt="" class="single_cat_img">
                <div class="info_section p-2">
                    <h6 class="text-dark">Men's Collection</h6>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}